body {
	background-color: #5e42a6;
	margin: 0;
	padding: 0;
}

h1 {
	color: white;
	font-family: sans-serif;
	margin: 0;
	padding: 30px 0 0 30px;
}

p {
	color: #ccc;
	font-family: sans-serif;
	padding-left: 30px;
	padding-top: 10px;
	margin: 0;
}

#move_left {
	position: absolute;
	top:150px;
	left:0%;
	width:calc(50% + 2px);
	height:calc(100% - 150px);
	z-index:2;
	transition: left 5s;

}

#move_right {
	position: absolute;
	top:150px;
	left:50%;
	width:50%;
	height:calc(100% - 150px);
	z-index:2;
	transition: left 5s;

}

#curtain_back {
	background:#6a1a4e;
	position: absolute;
	top:0;
	left:0%;
	width:100%;
	height:100%;
	z-index:0;
	transition: left 5s;
}

.main-content {
	display:inline-flex;
	align-items:flex-start;
	justify-content:center;
	overflow: hidden;
	border: 5px solid rgb(17, 0, 53);
	margin:0;
	padding:0;
	height:calc(100% - 400px);
	width:calc(100% - 10px);
}

#curtain {
	position: absolute;
	top:150px;
	left:0%;
	width:100%;
	height:calc(100% - 150px);
	z-index:7;
}

#curtain_rod {
	background:linear-gradient(rgb(66, 0, 113) 0%, rgb(109, 0, 188) 40%, rgb(66, 0, 113) 100%);
	width:100%;
	height:20px;
	transform:translate(0,-10px);
	z-index:11;
}

.start_button {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #876fc6 5%, #493382 100%);
	border-radius:20px;
	border:0px solid #493382;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 24px;
	margin-bottom: 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}
.start_button:hover {
  background:linear-gradient(to bottom, #a65e42 5%, #493382 100%);
	border:0px;
	background-color:#5e42a6;
}
.start_button:active {
	position:relative;
	top:1px;
}

#art {
	box-shadow: 4px 9px 29px 0px rgba(0,0,0,0.62);
	-webkit-box-shadow: 4px 9px 29px 0px rgba(0,0,0,0.62);
	-moz-box-shadow: 4px 9px 29px 0px rgba(0,0,0,0.62);
	margin-left:auto;
	margin-right:auto;
	display:block;
	position:relative;
	top:50%;
	transform:translateY(-50%);
	max-width:calc(100% - 550px);
	z-index:0;
	max-height:100%;
}

/* Audio stuff! */

#audio-player-container {
	--seek-before-width: 0%;
	--volume-before-width: 100%;
	--buffered-width: 0%;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 250px;
	background: #130032;
	z-index: 1;
	font-family: sans-serif;
	color: #ccc;
}

#current-time {
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 30px;
}

#duration {
	margin-top: 15px;
	margin-right: 20px;
	margin-left: 30px;
}

#now_playing {
	top:60%;
	left:30px;
	font-family: "Londrina Solid";
	font-size: 20px;
	background-color: #9E8DC9;
	border-color: #000;
}

#play-icon {
	margin: 50px 30px 10px 30px;
	padding: 10px 30px 10px 30px;
}
#prev-icon {
	margin: 50px 30px 10px 30px;
	padding: 8px 20px 8px 20px;
}
#next-icon {
	margin: 50px 30px 10px 30px;
	padding: 8px 20px 8px 20px;
}
#mute-icon {
	margin: 50px 100px 10px 20px;
	padding: 8px 20px 8px 20px;
}
path {
	stroke: #2edcd9;
}
.time {
	display: inline-block;
	width: 40px;
	text-align: center;
	font-size: 20px;
	margin: 0px 20px 5px 0;
}
output {
	display: inline-block;
	width: 32px;
	text-align: center;
	font-size: 20px;
	margin: 35px 2.5% 0 5%;
	clear: left;
}

input[type="range"] {
	position: relative;
	-webkit-appearance: none;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 30px;
	margin: 30px 0 20px 0;
	outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	width: 100%;
	height: 100%;
	border-color:#000;
	border-width: 50px 0;
	border-radius:20px;
	cursor: pointer;
	background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::before {
	position: absolute;
	content: "";
	top: 0px;
	left: 0;
	width: var(--seek-before-width);
	height: 30px;
	background-color: #007db5;
	cursor: pointer;
	border-radius:20px 0 0 20px;
}

input[type="range"]::-webkit-slider-thumb {
	background:url("../../images/boy.png");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: content-box;
	height: 150px;
	width: 100px;
	overflow: visible;
	border-width: 0px;
	margin: -50px -50px 0 0;
	cursor: pointer;
	z-index: 101;
	position: relative;
	-webkit-appearance: none;
	box-sizing: content-box;
	transform: translateX(var(--nudgeFactor));
}
input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
	 cursor: grabbing;
	 transform: translateX(var(--nudgeFactor));
}

input[type="range"]::-moz-range-track {
	width: 100%;
	height: 100%;
	cursor: pointer;
	border-radius:20px;
	background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(39, 181, 0, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
	background-color: #007db5;
	height: 100%;
	border-radius:20px 0 0 20px;
}
input[type="range"]::-moz-focus-outer {
	border: 0;
}

#seek-slider {
	border-radius: 20px;
}
#seek-slider:active::-moz-range-thumb {
	transform: scale(1.2);
	transform: translate(var(--nudgeFactor), 10px);
	cursor: grabbing;
}

input[type="range"]::-moz-range-thumb {
	background:url("../../images/boy.png");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: content-box;
	height: 150px;
	width: 100px;
	overflow: visible;
	border-width: 0px;
	margin: 0 0 0 0;
	cursor: pointer;
	z-index: 101;
	transform: translate(var(--nudgeFactor), 10px);
}

input[type="range"]::-ms-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: transparent;
	border: solid transparent;
	color: transparent;
	border-radius:20px;
}
input[type="range"]::-ms-fill-lower {
	background-color: #007db5;
	border-radius:20px 0 0 20px;
}
input[type="range"]::-ms-fill-upper {
	border-radius:20px;
	background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}

.material-icons {
	font-size:60px !important;
}


#scroll-container {
	border: 3px solid black;
	border-radius: 5px;
	max-height: 100px;
	overflow: hidden;
	}

#lyrics {
	margin-left: 100px;
	height: 100%;
	text-align: left;
	white-space:pre;

	color: white;
	font-family: sans-serif;
	font-size: 20pt;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.5);

}

#current_lyrics {
	height: 100%;
	text-align: left;
	white-space:pre;

	/* animation properties */
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	transform: translateY(0);

	animation: my-animation 50s linear infinite;
	animation-play-state: 'paused';
}

@keyframes my-animation {
	from {
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	to {
		-moz-transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	}

	.rainbow-text {
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	}

	.mom {
		color:#FFB6C1;
		font-family: "Emilys Candy";
	}

	.boy {
		color: #B0916E;
		font-family: "Londrina Solid";
		font-size:20pt;
	}

	.host {
		color:#90A0E6;
		font-family: "Boogaloo";
	}

	.ghost {
		color:#90EE90;
		font-size:18pt;
		opacity: 0.7;
		font-family: "Mansalva";
	}

	.wolf {
		color:#111111;
		font-size:18pt;
		font-family: "Rubik Wet Paint";
		text-shadow: 0px 0px 0px rgba(0,0,0,0.5);
	}

	.pipe {
		color: #618a88;
		font-family: "Coiny";
	}

	.boy_white {
		color: #DDDDDD;
		font-family: "Londrina Solid";
	}

	.song {
		position: absolute;
		z-index: 1;
		visibility: hidden;
	}

.rnInner {
    width: 100%;
    position: absolute;
    top:0; right: 0;  bottom: 0; left: 0;
    margin: auto;
    transform-style: preserve-3d;
    transition: transform 6s ease;
    transform-origin: -120% top;
}

.rnUnit {
	margin-right:2%;
    width: 16%;
	margin-left:2%;
    height: 120vh;
	background: repeating-linear-gradient(
		to left,
		#832060 0%,
		#581541 30%,
		#6a1a4e 65%);
	filter:blur(0.1px);
    background-size:  100% 100%;
    display:inline-block;
    transform-origin: 0 0%;
    transform: rotate(1deg);
    animation: rnUnit 4s ease infinite;
}

@keyframes rnUnit {
    50% {
        transform: rotate(-1deg) ;
    }
}

.rnUnit:nth-child(1) {
    animation-delay: -0.2s;
}
.rnUnit:nth-child(2) {
    animation-delay: -0.4s;
}
.rnUnit:nth-child(3) {
    animation-delay: -0.6s;
}
.rnUnit:nth-child(4) {
    animation-delay: -0.8s;
}
.rnUnit:nth-child(5) {
    animation-delay: -1s;
}
.rnUnit:nth-child(6) {
    animation-delay: -1.2s;
}
.rnUnit:nth-child(7) {
    animation-delay: -1.4s;
}
.rnUnit:nth-child(8) {
    animation-delay: -1.6s;
}
.rnUnit:nth-child(9) {
    animation-delay: -1.8s;
}
.rnUnit:nth-child(10) {
    animation-delay: -2s;
}



.rnOuter:hover .aoTableCell {
    color:white;
}
